<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/styles/index.css">

        <!-- <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest-maps.js"></script>
        <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest-maps.css"/> -->

        <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
        <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>   
    </head>
    <body>
        <div class='address'>
            <form method="POST" action="/">
                <div>
                    <p><label>Start: </label><input type="text" name="address" placeholder="Houston, TX"></p>
                    <p><label>End: </label><input type="text" name="address_from" placeholder="914 Dallas St, Houston, TX 77002"></p>
                </div>
                <div id="submit">
                    <p><input type="submit" value="ENTER"></p>
                </div>
            </form>
        </div>

        <h2>Address</h2>
        {{ city_name }}

        <div id="map" style="width: 100%; height: 530px;"></div>


        <h2>Traffic Tweets</h2>
        <ul>
        {% for tweet in tweets %}
            <li>{{ tweet }}</li>
        {% endfor %}
        </ul>
        
        <h2>Known Flags</h2>
        <ul id="flags">
            {% for flag in flags %}
            <li>{{ flag }}</li>
            {% endfor %}
        </ul>

        <h2>News</h2>
        <ul>
            {% for text in texts %}
                <li>{{ text[0] }}</li>
            {% endfor %}
        </ul>
        <script type="text/javascript">
            window.onload = function() {
                let city_name = '{{ city_name }}'
                let city_name_from = '{{ city_name_from }}'

                let lat_2 = {{ lat_2 }};
                let long_2 = {{ long_2 }};

                let alt_lat = {{ alt_lat }};
                let alt_long = {{ alt_long }};

                let threshold = alt_lat.length;

                let location = {{ location }}
                
                L.mapquest.key = '5REDNgsM74KDzzRAu0RDUBVvRABkYZbT';
        
                var map = L.mapquest.map('map', {
                    center: [29.76059, -95.36968],
                    layers: L.mapquest.tileLayer('map'),
                    zoom: 13
                });

                if (city_name != '') {
              
                    L.mapquest.directions().route({
                        start: city_name,
                        end: city_name_from,
                        options: {
                            maxRoutes: 3,
                        }
                    });

                    for (let i = 0; i < alt_lat.length; i++) {
                        let lat_1 = alt_lat[i]
                        let long_1 = alt_long[i]

                        L.marker([lat_1, long_1], {
                            icon: L.mapquest.icons.marker(),
                            draggable: false
                        }).addTo(map);
                    };

                    for (let i = 0; i < location.length; i++) {
                        L.circle(location[i], { radius: 500 }).addTo(map);
                    };
                }
            }
          </script>
        <script>
                // window.onload = function() {
                    // let lat_2 = {{ lat_2 }};
                    // let long_2 = {{ long_2 }};
                    // let alt_lat = {{ alt_lat }};
                    // let alt_long = {{ alt_long }};
                    // let threshold = alt_lat.length;
                    // let location = {{ location }}

                //     L.mapquest.key = '5REDNgsM74KDzzRAu0RDUBVvRABkYZbT';

                //     var map = L.mapquest.map('map', {
                //     center: [lat_2, long_2],
                //     layers: L.mapquest.tileLayer('map'),
                //     zoom: 12
                //     });

                //     L.mapquest.directions().route({
                //         start: 'Austin, TX',
                //         end: 'Houston, TX',
                //         options: {
                //             maxRoutes: 3,
                //         }
                //     });

                    // for (let i = 0; i < alt_lat.length; i++) {
                    //     let lat_1 = alt_lat[i]
                    //     let long_1 = alt_long[i]

                    //     L.marker([lat_1, long_1], {
                    //         icon: L.mapquest.icons.marker(),
                    //         draggable: false
                    //     }).addTo(map);
                    // }

                    // for (let i = 0; i < location.length; i++) {
                    //     L.circle(location[i], { radius: 500 }).addTo(map);
                    // }
                // }
        </script>
    </body>
</html>